
/*esto es un comentario*/


/*SELECTORES*/
/*SELECTOR POR ETIQUETA HTML*/
h4 {
  color: gray; 
  font-size: 40px;  
}
/*SELECTOR POR ID (IDENTIFICADOR)*/

#titulo{
    color: aqua;
}

/*SELECTOR POR CLASE (ES UN GRUPO)*/

.bgred{
    background-color: red;
}

.tyellow{
    color: yellow;
}

/*SELECCIONAMOS UNA ETIQUETA HTML POR SU NOMBRE DE CLASE*/
span.texto{
    color: violet;
}

/*seleccionar todo el documento*/

/**{
   background-color: black;
}*/

/*seleccion en grupo*/
h5, h6 {
color: chocolate;    
}

/*propiedades CSS*/

:root{
    /*defino una variable*/
  --verde: rgb(47, 192, 109);
} 

contenedor{
    /*llamo a una variable*/
    background-color: var(--verde)
}

#cajita{
    background-color: var(--verde)
}

/*propiedades css*/
/*texto*/

#contenedor-texto{
    background-color: white;
}
#contenedor-texto p{
/*color:valor=permite colocarle un color al texto*/
   color:rgb(18, 18, 187)

    /*font-size: permite cambiar el tamano de la letra*/

     font-size: 25px ;

     /*font-weight: valor= permite ajustar el grosor del texto*/

     font-weight:800 ;

     /*font-family: valor: permite cambiar la fuente de la letra*/

    font-family: sans-serif;

    /*text-aling: valor= permite ajustar en que posicion se encuentra el texto*/

    text-align:end ;

    /* text-decoration: valor= permite agregarle la decoracion al texto 

    text-decoration-line:underline ;
    text-decoration-color: blue;
    text-decoration-style: wavy;
    text-decoration-thickness:2px ;*/
   
    /* todas estas propidades se pueden aplicarf en una sola linea*/
     text-decoration: underline red wavy 5px;

     /* text-transform: valor = permite transformar el texto */

    text-transform:none ;

    /* text-indent : valor = permite colocar una sangria en el texto*/

    text-indent: 50px;
    /*letter-spacing: valor= separacion de letras*/
    letter-spacing: 5px;

    /*line-height: valor = altura entre lineas del parrafo*/
    line-height: 50px;

    /*word-spacing: valor= separacion entre palabras*/
    word-spacing: 15px;

}

/* list-style: valor = estilo de la lista (aqui no uso # porque no es un ID o una CLASS*/
ul li{
    list-style: circle;
}

/*text-shadow : valor : permite colocarle una sombra al texto*/

#sombra{
    color: blueviolet;
    text-shadow: 50px 25px 5px black;
 /*            x    y    df   color   */
    /*primer valor desplaza de izquierda a derecha horizontal y el segundo valor desplaza de manera vertical de arriba hacia abajo, el tercer valor el desenfoque de la sombra y el cuarto valor modifica el color */  
}
#contenedor-texto a{
    text-decoration: none;
}
/* tamanos*/
/*
-width anchura
height altura
max-width maximo de anchura
max-height maximo de altura
min-width y height minimo de anchura y altura
*/

#cajita1{
    width: 100px;
    height: 100px;
    max-width: 200px;
    max-height: 100px;
    min-width: 100px;
    min-height: 50px;
 background-color: red;   
}

/*unidades de medida*/
/*
em=se basa en el tamano de fuente del elemento ::placeholder
rem= se basa en el tamano de fuente de fuente del elemento raiz del documento
vw = viewport width 
vh = viewport height
%
vmin = viewport minimo
vmax = vieport maximo
*/
#medidatexto p{
    font-size: 50px;
    width: 50%;
    height: 30vh;
}
#medidatexto p{
    /* 16px */
    font-size: 2rem;    
}

#cajita2{
    width: 200px;
    height: 250px;
    background-color:#13082f ;
}

#cajita2 section{
    width: 300px;
    height: 250px;
    background-color: yellow;

}

#cajita3{
    width: 80vmin;
    height: 70vmax;
    background-color: chocolate;
}
#cajita4{
    height:200px ;
    /*background-color : valor = permite cambiar el color de fondo*/
/* r = red g = green b = blue a = alpha (transparencia)*/

   background-color: rgb(35, 227, 22,0,7); 
    /*background-image: valor = permite colocar imagen de fondo*/     
   /*background-image: url("../images/tigre.jpg"),url(https://img.freepik.com/foto-gratis/jumbo-jet-volando-cielo_23-2150895681.jpg);*/
   /*background-image: linear-gradient(to top,red, rgba(0,0,0,0)), url("../images/tigre.jpg")*/
   /* background-image: linear-gradient(120deg,red, blue,yellow);*/
   /*background-image: linear-gradient(transparent,rgba(0,0,0,0.8)),url("../images/tigre.jpg")*/
   background-image: linear-gradient(circle at center, red, blue)
 /*background-repeat : valor = permite indicar si queremos repetir la imagen (mosaico);*/
   background-repeat:no-repeat ;
    /*permite ajustar la posicion de la imagen de fondo
   background-position:right top,left bottom;*/

   /*backgroun-size : valor = permite colocar un tamano a la imagen*/
   /* por ejemplo 2 imagenes las ponemos px y separamos por una coma 100px, 200px*/
   background-size: cover; 

  /* background-attachment: fixed, scroll;*/

        
}

/*bordes*/

#cajita5{
    width: 200px;
    height: 200px;
    /*border style*/
   /* border-style: double;
   border-width: permite cambiar el tamano del borde;
   border-width:10px ;
   border-color: permite cambiar el color del borde;
   border-color: yellow;*/
  /* border:5px solid red ;*/
  /*border-right: 5px solid blue;*/
  /*border-left: 10px solid yellow;*/
  /*border-top: 6px solid yellow;*/
  /*border-bottom: 15px solid black ;*/
  /*border-radius: ;*/
  border-radius:5px 10px 50px 20px ;
  margin-bottom: 200px;
}

/*margenes*/
#cajita6{
   width: 300px;
   height: 300px; 
   /*margin*/
   /*margin: 20px;*/
   margin-top: 20px;
   margin-left: 100px;
   margin-right: 10px;
   margin-bottom: 200px;
}
    /*padding (funciona como el margen pero de manera interna)*/
    #cajita7{
         width: 150px;
         height:150px ;
  /*padding*/
padding:20px ;

}

#cajita7 section{
    width:50px ;
    height:50px ;
    background-color: red;

}

/*pseudo elementos (pseudo clases)*/
/* link (permite cambiar de color a un link no visitado)*/
#enlace1:link{
    color: blue;

}
/*visited (permite cambiar el estilo de un link visitado)*/
#enlace1:visited{
    color:green
}

/* hover: (permite que el momento de pasar el cursor por encima del elemento cambie el estilo)*/
#boton1:hover{
    background-color: red;
    color: white;
    padding: 20px 10px;
    

}
/* active (link seleccionado)*/
#enlece1:active{
    color: green;
}

/* focus: funciona para los input*/
#input1:focus{
    background-color: blue;
    color:white

}

/* :first-child:last-child:nth-child()*/
#cajita8 p:first-child{
    color: violet;
}

#cajita8 p:last-child{
    color:red
}

#cajita8 p:nth-child(2){
    color: aqua;
}

/*pseudo elemntos*/
/* ::first-line (afecta la primera linea)*/
#parrafo2::first-line{
    color:chocolate
}
/*::first-letter: (afecta la primeta letra)*/

#parrafo2::first-letter{

 color:blue
 font-size:50px 

}

/* ::before (permite anadir contenido antes del elemento,una imagen, etc)*/
#parrafo2::before{
    content: "HOLA";
    
}


/* :: after (permite colocar un contenido despues del elemento)*/
#parrafo2::after{
    content: "FINAL";
    color: red;
    font-size: 40px;
}
<ul>
<li>item 1</li>
<li>item 2</li>
<li>item 3<li/>
</ul>












